<div fxLayout="column" fxLayoutAlign="center stretch" class="deleteModal">
  <h3>Comfirm Deletion</h3>
  <p>Are you sure you want to permanently delete this post?</p>
  <i><small>Note: the resource will not be really deleted on the server but it will be faked as if.</small></i>
  
  <div fxLayout="row" fxLayoutAlign="center center" class="delete-footer"> 
    <button mat-raised-button color="warn" (click) ="delete()" [disabled] ="isLoading"> 
      {{ isLoading ? 'Deleting..' : 'Yes'}}
    </button>
    <div> &nbsp;&nbsp;&nbsp;</div>
    <button mat-raised-button color="primary" (click) ="close()">
      No
    </button>

  </div>
</div>