<div fxLayout ="row" fxLayoutAlign= "space-between center" class="post-header">
    <div><b> Post <span *ngIf="posts" >({{posts.length}})</span></b></div>
    <button mat-flat-button color="warn" routerLink="/add-post">
      <mat-icon>add</mat-icon> Add post
    </button>
</div>
<div class="loader" fxLayout="column" fxLayoutAlign="space-around center" 
    *ngIf="isLoading">
    <mat-progress-spinner 
      strokeWidth ="5"
      color="primary" mode="indeterminate">
    </mat-progress-spinner>
</div>
<div *ngFor = "let post of posts; let i = index" class="post">
  <mat-card *ngIf="post.title"
    [class.mat-elevation-z8] ="isActive ==i"
    (mouseover)="isActive=i;" 
    (mouseout)="isActive=false">
  <h2>{{post.title}}</h2>
    <mat-card-content>
      <p> {{post.body}}</p>
    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button color="primary" routerLink="/edit-post/{{post.id}}">
        <mat-icon>edit</mat-icon> Edit
      </button>
      <button mat-raised-button color="warn" (click) = "delete(post.id, i)"> 
        <mat-icon>delete</mat-icon> Delete
      </button>
    </mat-card-actions>
  </mat-card>
</div>