/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body , html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #e4e4e4; 
}
.full {
    width: 100%;
}

.container  {
    max-width: 1024px;
    margin: auto;
    width: 100%;
}


.mat-snack-bar-container {
    color: rgb(255, 255, 255)!important;
    background: #494dbb !important;
}

.view {
    display: block;
    overflow: auto;
    top: 64px;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    padding: 0 20px 0 20px;
}

@media (max-width: 768px) {
    .mat-card h2 {    
        font-size: 1em;
    }
    .mat-card-actions {
        text-align: center;
    }
}